.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-scheme-white);
}
.form-text {
  font-size: 42px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0px;
}
.form-text3 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
  width: 90%;
  text-align: center;
  justify-content: center;
}

