.component-container {
  width: 323px;
  height: 20px;
  position: relative;
  margin-left: var(--dl-space-space-unit);
}
.component-radiobutton {
  margin-left: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
}
.component-text {
  width: 90%;
  display: inline-block;
  padding-left: 0rem;
}
