.max-width-max-width {
  height: 625px;
  display: flex;
  position: relative;
  flex-direction: row;
}
.max-width-image {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.max-width-content {
  width: 421px;
  height: 521px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.max-width-text {
  color: #923337;
  margin-bottom: var(--dl-space-space-unit);
}
.max-width-text2 {
  color: #923337;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.max-width-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
}
.max-width-button {
  color: #CB0303;
  border-color: #CB0303;
}
.max-width-hero-image {
  width: 659px;
  height: 90%;
  display: flex;
  align-items: center;
  margin-right: -80px;
  border-radius: 10%;
  background-size: cover;
  justify-content: center;
  background-image: url("/playground_assets/central-business-district-in-singapore-1500w.jpg");
  background-position: center;
}
.max-width-image1 {
  width: 100px;
  opacity: 0.5;
  object-fit: cover;
}
@media(max-width: 991px) {
  .max-width-max-width {
    flex-direction: column;
  }
  .max-width-image {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .max-width-content {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .max-width-hero-image {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .max-width-content {
    width: 100%;
    margin-right: 0px;
  }
}
