.navbar-navbar {
  position: relative;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: auto;
  object-fit: cover;
  margin-right: 14px;
  text-decoration: none;
}
.navbar-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-text {
  color: #cb0303;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-navlink1 {
  color: #cb0303;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-navlink2 {
  color: #cb0303;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-navlink3 {
  color: #cb0303;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-text1 {
  color: #cb0303;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-navlink4 {
  border-color: #CB0303;
  text-decoration: none;
  background-color: #CB0303;
}
.navbar-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}

@media(max-width: 767px) {
  .navbar-links {
    display: none;
  }
  .navbar-icon {
    fill: var(--dl-color-scheme-green100);
  }
}
@media(max-width: 821px){
  .navbar-links{
    flex: auto;
  }

}